.App {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
#Rectangle {
    width: 100px;
    height: 200px;
    background-color: red;
}

#Triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
}

#Diamond {
    width: 100px;
    height: 100px;
    background-color: aqua;
    transform: rotate(45deg);
}

.figure-name-holder {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
}